@import url('https://fonts.googleapis.com/css?family=Bungee|VT323|Wallpoet');

.App {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 40px auto;
  padding:30px;
  background-color: #9f9f9f;
  color: #dbdbdb;
  font-family: 'Wallpoet', cursive;
  border-radius: 8px;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height:72px;
  padding: 0 5%;
  font-size: 48px;
  background-color: black;
  color: greenyellow;
  font-family: 'VT323', monospace;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 480px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  box-sizing: border-box;
  border: 2px solid #DBDBDB;
  background-color: #9F9F9F;
  color: black;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  cursor: pointer;
}

.button[data-size="2"]{
  height:40%;
}

